body{
    background-color: #ccc;
}

.main{
    margin: 20px 30px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
}

.btn-publish{
    float: right;
}
.alertMsg{
    display: flex;
    justify-content:center;
    flex-direction: row;
}
.alert-error{
    padding: 8px 22px  !important;
    margin-bottom: 0 !important;
}
.media-object{
    width: 42px;
    height: 42px;
}
.media_list{
    padding-top: 10px;
    border-top:1px solid #f5f5f5;
}

.col-left{
    border-right:1px solid #f5f5f5;
}

.noArticle{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.page-right{
    text-align: right;
}