<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 踩过的坑，springboot引入静态资源路径不要加/static/，否则会报404-->
    <title th:text="${ArticleDetail.title}"></title>
    <head th:insert="~{import :: head}"></head>
    <link rel="stylesheet" href="/markdown/css/editormd.preview.css">
    <script src="/markdown/editormd.min.js"></script>
    <script src="/markdown/lib/marked.min.js"></script>
    <script src="/markdown/lib/prettify.min.js"></script>

</head>
<script>
    $(function() {
        var testView = editormd.markdownToHTML("show-markdown-view", {});
    });
</script>
<body>

<div th:replace="navigation :: nav"></div>

<div class="row main">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-left">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class=""> <h4 th:text="${ArticleDetail.title}"></h4></div>
            <hr>
            <div class="detail-msg">
            作者： <span th:text="${ArticleDetail.user.name}"></span> | 发布时间：<span th:text="${#dates.format(ArticleDetail.createTime,'yyyy-MM-dd')}"></span> | 阅读数： <span th:text="${ArticleDetail.readCount}"></span>
                <div class="link-items" th:if="${session.user !=null && ArticleDetail.user.id==session.user.id}" >
                    <a th:href="@{/article/edit(id=${ArticleDetail.getId()})}"><i class="iconfont icon-fabu2"></i>&nbsp;编辑</a>
                </div>
            </div>
            <div id="show-markdown-view" class="content" >
                <textarea style="display:none;" th:text="${ArticleDetail.description}"></textarea>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tagDiv">
                <span class=" label label-info  tags" th:each="tag :${ArticleDetail.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags"> </span>
                        <span th:text="${tag}"></span>
                </span>
            </div>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="comment">
                <h4><span th:text="${ArticleDetail.getAnswerCount()}"></span> 个回复</h4>
            </div>

            <div class="media media_list" th:each="comment :${comments}">
                <div class="comment-head">
                    <div class="media-left">
                        <a href="#">
                            <img class="img-rounded img-comment" th:src="${comment.getUser().getAvatarUrl()}"  >
                        </a>
                    </div>
                    <div class="media-body">
                        <span class="media-heading" th:text="${comment.getUser().getName()}"></span>
                        <span class="float-right" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd')}"></span>
                    </div>

                </div>
                <div class="comment-style comment-body" th:text="${comment.getContent()}">

                </div>
                <div class="comment-style comment-footer">
                    <div>
                        <span class="operate like">
                        <i class="iconfont icon-z-like" th:like-id="${comment.getId()}" onclick="like(this)"></i>
                        <span id="likeCount" th:text="${comment.getLikeCount()==0?'':comment.getLikeCount()}"></span>
                        </span>
                        <span class="operate answer" th:data-id="${comment.getId()}" onclick="showChildComment(this)">
                        <i class="iconfont icon-pinglun"></i>
                        <span th:id="${'commentCount-'+comment.getId()}"  th:text="${comment.commentCount==0?'':comment.commentCount}"></span>
                        </span>
                    </div>

                    <div class="collapse childCol col-lg-12 col-md-12 col-sm-12 col-xs-12" th:id="${'comment-'+comment.getId()}">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-comment"   th:if="${session.user!=null}">
                            <input type="text" class="form-control" th:id="${'childComment-'+comment.getId()}" name="childComment" placeholder="说说你的看法...">
                            <button type="button" class="btn btn-success btn-comment" th:data-parentId="${comment.getId()}" onclick="subComment(this)">评论</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- 评论 -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

            <div class="comment" th:if="${session.user!=null}">
                <input type="hidden" id="parentId" th:value="${ArticleDetail.getId()}">
                <div class="d-flex">
                    <div class="media">
                        <div class="media-comment">
                            <a href="#">
                                <img class="img-rounded img-comment" th:src="${session.user.getAvatarUrl()}"  >
                            </a>
                        </div>
                    </div>
                    <textarea id="commentArea" name="description"  class="comment-content open" maxlength="1000"></textarea>
                </div>
                <button type="button" class="btn btn-success btn-comment" onclick="postComment();">回复</button>
            </div>
            <div class="notLogin" th:if="${session.user==null}">
                要回复问题请先<a onclick="toLogin()">登录</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
            <p>发起人</p>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${ArticleDetail.user.getAvatarUrl()}"  >
                    </a>
                </div>
                <div class="media-body">
                    <span class="media-heading" th:text="${ArticleDetail.user.name}"></span>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            广告区
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutArticle">
            <p>相关问题</p>
            <div>
                <ul>
                        <li th:each="aboutArticle : ${aboutArticles}">
                            <a th:href="@{/article/detail/{id}(id=${aboutArticle.getId()})}" th:text="${aboutArticle.getTitle()}"></a>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<head th:insert="~{footer :: foot}"></head>
</body>
</html>