<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 踩过的坑，springboot引入静态资源路径不要加/static/，否则会报404-->
    <title>个人博客</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>

<div th:replace="navigation :: nav"></div>

<div class="row main">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-left">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4><i class="iconfont icon-liebiao"></i>&nbsp;我的文章</h4></div>
        </div>
        <div class="media media_list" th:each="article : ${myArticleList}">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-rounded" th:src="${article.user.getAvatarUrl()}"  >
                </a>
            </div>
            <div class="media-body">
                <a th:href="@{/article/detail/{id}(id=${article.getId()})}"><h4 class="media-heading" th:text="${article.title}">标题标题</h4></a>
                <span th:text="${article.answerCount}"></span> 个回复 • <span th:text="${article.readCount}"></span> 次浏览 • 发布时间<span th:text="${#dates.format(article.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                <div class="link-items">
                    <a th:href="@{/article/edit(id=${article.getId()})}">编辑</a>

                    <a href="#" th:onclick="del([['/article/delete?id='+${article.getId()}]]);">删除</a>
                </div>
            </div>

        </div>

        <!-- 分页 -->
        <div th:replace="pagination :: page"></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
        <div class="list-group ">
            <a href="#" th:class="${selection=='personal'?'active list-group-item':'list-group-item'} ">个人中心</a>
            <a href="/main/article" th:class="${selection=='article'?'active list-group-item':'list-group-item'} ">我的文章</a>
            <a href="/main/notification" th:class="${selection=='notification'?'active list-group-item':'list-group-item'} ">我的消息<span class="badge" th:text="${session.notification}"></span></a>
        </div>
    </div>
</div>
<head th:insert="~{footer :: foot}"></head>
</body>
</html>