<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="page">
    <!--分页-->
    <nav aria-label="Page navigation" class="page-right" th:if="${paginationInfo.countPage != 0}">

        <ul class="pagination">
            <li th:if="${paginationInfo.isHasFirstPage()}">
                <a th:href="@{${#httpServletRequest.getContextPath()}(page=1,search=${search})}" aria-label="First">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li th:if="${paginationInfo.isHasPrePage()}">
                <a th:href="@{${#httpServletRequest.getContextPath()}(page=${paginationInfo.page-1},search=${search})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li th:each="page: ${paginationInfo.getPageList()}" th:class="${page==paginationInfo.page}? 'active'"><a th:href="@{${#httpServletRequest.getContextPath()}(page = ${page},search=${search})}" th:text="${page}"></a></li>
            <li th:if="${paginationInfo.isHasNextPage()}">
                <a th:href="@{${#httpServletRequest.getContextPath()}(page=${paginationInfo.page+1},search=${search})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li th:if="${paginationInfo.isHasLastPage()}">
                <a th:href="@{${#httpServletRequest.getContextPath()}(page=${paginationInfo.getCountPage()},search=${search})}" aria-label="Last">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="noArticle" th:if="${paginationInfo.countPage == 0}">
        <div th:if="${session.user!=null}">
            暂无相关数据,点击 <a th:href=" @{/publish}">这里</a>写一篇文章吧
        </div>
        <div th:if="${session.user==null}">
            尚未登录 请点击<a th:href=" @{/login}">这里</a>开始登录
        </div>
    </div>
</div>
</body>
</html>